* {
  box-sizing: border-box;
}

$gray: darkgray;

%rounded-border {
  border: 1px solid $gray;
  border-radius: 5px;
}

%center {
  display: block;
  margin: 0 auto;
}

%row-container {
  display: flex;
  flex-direction: row;
}

%column-container {
  display: flex;
  flex-direction: column;
}

.page {
  background-color: #fefefe;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.card {
  @extend %column-container;
  @extend %rounded-border;
  margin: 0 auto;
  padding: 1rem 1.5rem;
  width: 75%;
  &__img {
    @extend %center;
    @extend %rounded-border;
    width: 50%;
  }
}

.main-heading {
  font-size: 2rem;
}

.code-snippet {
  background-color: lighten($gray, 25%);
}

.form {
  @extend %column-container;
  &__label {
    font-weight: 700;
  }
  &__input {
    padding: 0.5rem;
    margin: 0.5rem 0 1rem;
    width: 100%;
  }
}
